body {
        color: ghostwhite;
        background-color: black;
}
img {
  width: 250px;
   height: 250px;
   border-radius: 50%;
   border: 5px solid white
}     
 .center {
 text-align: center;
 }        

         